.labrats-popup h2,
.labrats-popup p,
.labrats-tooltip {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
    text-decoration: none;
}

.lab-rats-popup-wrapper {
    z-index: 99999;
    position: absolute;
    display: flex;
    max-width: 460px;
    min-width: 300px;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    box-shadow: 0 0 16px #00000020;
    border-radius: 16px;
    padding: 16px;
}

.labrats-popup .top-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;

    height: 100px;
}

.labrats-popup .top-div .right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labrats-popup .top-div .right-div .lab-rats-h2 {
    font-size: 20px;
}

.labrats-popup .top-div .right-div .lab-rats-p {
    font-size: 14px;
    margin-top: 8px;
    color: #848484;
}

.labrats-popup .bottom-div p {
    font-size: 14px;
}

.labrats-popup .top-div .right-div .warning-link-wrapper,
.labrats-popup .top-div .right-div .danger-link-wrapper {
    align-self: flex-start;
    margin-top: 16px;
}

.labrats-popup .top-div .right-div .warning-link-wrapper a {
    font-size: 14px;
    display: block;
    transition: opacity 0.3s ease;
    padding: 8px;
    color: white;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
}

.labrats-popup .top-div .right-div .danger-link-wrapper a{
    font-size: 14px;
    transition: opacity 0.3s ease;
    text-decoration: underline;
    border: 0;
    border-radius: 4px;
}

.labrats-popup .top-div .right-div a:hover {
    opacity: 0.8;
}

.labrats-popup .top-div .right-div .warning-link-wrapper a:visited {
    color: white !important;
}

.labrats-tooltip {
    z-index: 99998;
    position: absolute;
    background: white;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 0 16px #00000020;
    color: black;
}