.labrats-popup .progress-circle {
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.labrats-popup .progress-circle canvas {
    grid-column: 1;
    grid-row: 1;
}

.labrats-popup .progress-circle span {
    color: #555;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-family: sans-serif;
    width: 40px;
    font-size: 24px;
}